<div class="full-width text-center">
    <h1 class="display-3">Thank You, {{name}}!</h1>
    <p class="lead"><strong>Please check your email</strong> to confirm your subscription to our newsletter.</p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>